body {
  background-color: aqua;
  font-family: 'Gill Sans';
  margin: 0;
  padding: 0;
}

.keys {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}

.key {
  border: 5px solid black;
  border-radius: 5px;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: grey;
  text-shadow: 0 0 .5rem black;
}

.key::hover{
  background-color: red;
}


